{% extends "layout.html" %}

{% block body %}
	<table class="table table-striped text-center">
		<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Joukkue</th>
			<th scope="col">Kotipaikka</th>
			<th scope="col">Kokonaispisteet</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% for team in teams %}
		<tr>
			<td>{{ teams.index(team) + 1 }}</td>
			<td>{{ team.name }}</td>
			<td>{{ team.home }}</td>
			<td>{{ team.points }}</td>
			<td>
				<form method="GET" action="{{ url_for('result_form_for_team', id=team.id) }}">
					<button type="submit" value="sijoitukset" class="btn btn-primary">sijoitukset</button>
				</form>
			</td>
			{% if current_user.isAdmin == True %}
				<td>
					<form method="POST" action="{{ url_for('teams_delete', team_id=team.id) }}">
						<button type="submit" value="poista" class="btn btn-danger">poista</button>
					</form>
				</td>
				<td>
					<form method="GET" action="{{ url_for('teams_edit', team_id=team.id) }}">
						<button type="submit" value="muokkaa" class="btn btn-warning">muokkaa</button>
					</form>
				</td>
				{% endif %}
		</tr>
		{% endfor %}
	</tbody>
	</table>
{% endblock %}