{% extends "layout.html" %}

{% block body %}
	<table class="table table-striped text-center">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Turnaus</th>
      	<th scope="col">Alkaa</th>
      	<th scope="col">Päättyy</th>
      	<th scope="col"> Jaettavat pisteet</th>
			</tr>
		</thead>
		<tbody>
			{% for cup in cups %}
			<tr >
				<td >{{ cup.name }}</td>
      	<td>{{ cup.start_time }}</td>
      	<td>{{ cup.end_time }}</td>
				<td>{{ cup.points }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}