{% extends "layout.html" %}

{% block body %}
<h1>Turnaukset</h1>
<p>Tällä sivulla näet sekä menneet että tulevat turnaukset, niiden alkamis- ja 
	päättymisajankohdan sekä turnauksissa jaossa olevat rankkauspisteet. 
	Osallistujat/tulokset-painikkeen takaa löydät turnaukseen osallistuvat joukkueet 
	sekä turnauskohtaiset tulokset.
</p>
	<table class="table table-striped text-center">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Turnaus</th>
      	<th scope="col">Alkaa</th>
      	<th scope="col">Päättyy</th>
		  <th scope="col"> Jaettavat pisteet</th>
		  <th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for cup in cups %}
			<tr >
				<td >{{ cup.name }}</td>
      	<td>{{ cup.start_time }}</td>
      	<td>{{ cup.end_time }}</td>
				<td>{{ cup.points }}</td>
				<td>
					<form method="GET" action="{{ url_for('result_form', id=cup.id) }}">
						<button type="submit" value="osallistujat/tulokset" class="btn btn-primary">Osallistujat/tulokset</button>
					</form>
				</td>
				{% if current_user.id == cup.account_id or current_user.isAdmin == True %}
				<td>
					<form method="GET" action="{{ url_for('cups_edit', cup_id=cup.id) }}">
						<button type="submit" value="muokkaa" class="btn btn-warning">Muokkaa</button>
					</form>
				</td>
				<td>
					<form method="POST" action="{{ url_for('cups_delete', cup_id=cup.id) }}">
						<button type="submit" value="poista" class="btn btn-danger">Poista</button>
					</form>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}